<p id="notice"><%= notice %></p>
<%= page_header do %>
<% if signed_in? && current_user == @user %>
<%= link_to 'Add Picture', new_album_picture_path(current_user, @album), class: 'btn pull-right' %>
<% end %>
<h1><%= @album.title %></h1>
<%= image_tag("http://cartoonsimages.com/sites/default/files/field/image/tinker_bell_wallpaper_f5388.jpg", size: "200x200",  class: "responsive") %>
<% end %>

<ul class="thumbnails">
    <% @pictures.each do |picture| %>
     <li>
     	<div class="thumbnail">
     		<%= link_to image_tag(picture.asset.url(:thumb)), album_picture_path(@user, @album, picture) %><br /><br />
     		<div class="caption">
     			<% if picture.caption? %><%= picture.caption %><br /><br /><% end %>
     			
     			<%= link_to 'View full size', album_picture_path(@user, @album, picture) %>
     			
     			<% if can_edit_picture?(picture) %>
     			<%= link_to "Edit", edit_album_picture_path(@album, picture) %>
     			<%= link_to "Delete", album_picture_path(@album, picture), method: :delete, data: { confirm: "Are you sure?" } %>
     			<% end %>
     			</div>
     			</div>
     		</li>
    <% end %>
</ul>